[submodule "boards"]
	path = boards
	url = https://github.com/rzeldent/platformio-espressif32-sunton.git
[submodule "templates/smartdisplay-4848S040CI-demo/boards"]
	path = templates/smartdisplay-4848S040CI-demo/boards
	url = https://github.com/rzeldent/platformio-espressif32-sunton.git
